.col-center-block {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-family: "menlo";
}

.hide {
  display: none;
}

.floatLayer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  z-index: 999;
  top: 0px;
  left: 0px;
  filter: alpha(Opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.loading {
  height: 5%;
  margin-left: 47.5%;
  margin-top: 20%;
}
