{% extends 'base.html' %} {% block pageContent %}
<div class="row">
  <div class="col-lg-4">
    <!-- Authorize Card -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Authorize</h6>
      </div>
      <div class="card-body">
        <p class="lead text-gray-800">
          Please enter your MySQL username and password.
        </p>
        <form class="user">
          <div class="form-group">
            <input
              type="username"
              class="form-control form-control-user"
              id="username"
              aria-describedby="usernameHelp"
              placeholder="Enter Your MySQL User Name..."
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control form-control-user"
              id="password"
              placeholder="Enter Your MySQL Password..."
            />
          </div>
          <div class="my-2"></div>
          <a id="testDatabase" href="#" class="btn btn-info btn-icon-split col-center-block">
            <span class="icon text-white-50">
              <i class="fas fa-info-circle"></i>
            </span>
            <span class="text">Test</span>
          </a>
          <div class="my-2"></div>
          <a id="saveDatabase" href="#" class="btn btn-success btn-icon-split col-center-block">
            <span class="icon text-white-50">
              <i class="fas fa-check"></i>
            </span>
            <span class="text">Save</span>
          </a>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <!-- Initialize Card -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Initialize</h6>
      </div>
      <div class="card-body">
        <a
          id="initDatabase"
          href="#"
          class="btn btn-primary btn-icon-split col-center-block"
        >
          <span class="icon text-white-50">
            <i class="fas fa-play-circle"></i>
          </span>
          <span class="text">Init Database</span>
        </a>
        <div class="my-2"></div>
        <a
          id="resetDatabase"
          href="#"
          class="btn btn-danger btn-icon-split col-center-block"
        >
          <span class="icon text-white-50">
            <i class="fas fa-sync"></i>
          </span>
          <span class="text">Reset Database</span>
        </a>
        <div class="my-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script
  src="{{ url_for('static', filename='js/database.js') }}"
  type="text/javascript"
></script>
<script type="text/javascript">
  var Params = {{ params|tojson }};
  console.log('Params', Params)
  console.log('Urls', Urls)
</script>

{% endblock %}
